<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.neoterm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.term.NeoTermActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.term.NeoTermRemoteInterface"
            android:excludeFromRecents="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.term.TermHere"
            android:exported="true"
            android:label="@string/term_here"
            android:targetActivity=".ui.term.NeoTermRemoteInterface">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.MAIN" />

                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.term.UserScript"
            android:exported="true"
            android:label="@string/user_script"
            android:targetActivity=".ui.term.NeoTermRemoteInterface">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.MAIN" />

                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.crash.CrashActivity"
            android:exported="false"
            android:label="@string/error"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bonus.BonusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.pm.PackageManagerActivity"
            android:label="@string/package_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.customization.CustomizationActivity"
            android:label="@string/customization_settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.settings.SettingActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ui.settings.GeneralSettingsActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ui.settings.UISettingsActivity"
            android:theme="@style/Theme.AppCompat" />

        <activity-alias
            android:name=".NeoLotMainActivity"
            android:targetActivity="io.neoterm.ui.term.NeoTermActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".services.NeoTermService"
            android:enabled="true" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
    </application>

</manifest>